main {
  text-align: center;
}

#New-Form {
  text-align: left;
  margin-left: 3%;
  margin-right: 3%;
}

h1 {
  text-align: center;
  color: cornflowerblue;
}

img {
  width: 30%;
  display: block;
  margin: auto;
}

footer {
  text-align: center;
  background-color: rgb(206, 238, 227);
  padding: 20px;
  border-top: 5px solid white;
}